{% extends 'base.html.twig' %}

{% block title %}Articles!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if articles is empty %}
                    <div class="alert alert-danger" role="alert">
                        Articles not found!
                    </div>
                {% else %}

                    {% for article in articles %}
                        <div class="media mt-5 mb-5">
                            <div class="media-body">
                                <h5 class="mt-0">{{ article.title }}</h5>
                                {{ article.body|length > 250 ? article.body|slice(0, 250) ~ '...' : article.body  }}
                            </div>
                        </div>
                        <hr />
                    {% endfor %}

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
